body {
  padding: 50px;
  text-align: center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
    color: red;
}

img {
    display: inline-block;
    padding: 5 5 5 5;
}

a {
  color: #00B7FF;
}
